:root {
    --yellow: #F2CC6C;
    --green: #77B987;
    --teal: #73D0D6;
    --blue: #7BB5F4;
    --purple: #AAA3F8;
    --pink: #E992C4;
    --red: #EA3323;
    --grey: #CBD4DC;
    --black: #000;
    --white: #FFF;
}

body {
    margin: 0;
    color: var(--white);
    font-family: VT323, sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    font-size: 24px;
}

figure {
    margin: 0px;
}

button {
    padding: 8px 16px;
    background-color: var(--black);
    border-radius: 0;
    border: 0;
    color: var(--white);
    text-transform: lowercase;
    align-self: center;
    font-family: VT323, sans-serif;
    font-size: 18px;
}

header {
    background-color: var(--pink);
    padding: 32px;
}

.headerWrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    grid-column-start: 1;
    align-self: center;
}

header button {
    justify-self: end;
    align-self: center;
    grid-column-start: 2;
}

.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--10 {
    display: none;
}

.intro {
    background-color: var(--yellow);
    padding: 32px;
}

.middleEarth {
    background-color: var(--blue);
    padding: 32px;
}

.middleEarth button {
    justify-self: end;
    align-self: center;
    grid-column-start: 2;
}

.speakerWrapper {
    display: grid;
    margin: 32px 0px;
    gap: 16px;
}

.speaker {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 16px;
    background-color: var(--white);
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--black);
}

.avatar {
    max-width: 48px;
}

.avatar img {
    border-radius: 200px;
    height: 48px;
    width: 48px;
}

.chat {
    align-self: center;
    font-size: 18px;
}

.name {
    color: var(--purple);
}

.bilbo .name {
    color: var(--red);
}

.gandalf .name {
    color: var(--green);
}

footer {
    background-color: var(--teal);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer a {
    justify-self: center;
    color: var(--white);
}


@media screen and (min-width: 1300px) {
    .headerWrapper {
        margin: 0px 20vw;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .gallery__item--10 {
        display: block;
    }
    
    .responsive {
        margin: 0px 20vw;
    }

    .middleEarth .responsive {
        margin: 32px 20vw;
    }

    .hero {
        border-bottom: 5px solid #FFF;
        border-top: 5px solid #FFF;
    }
}

@media screen and (min-width: 1920px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .responsive {
        margin: 0px 30vw;
    }

    .headerWrapper {
        margin: 0px 30vw;
    }
}